		body
		{
				padding:0px;
				margin:0px;
				background-color:#ddd;
				font-family: Arial;
		}
		#wrapper{
			
			margin:auto;
			padding:0px;
			padding:0px;width:86%;
			background-color:#FFF;
		}
		.btn {
			margin:0px 5px;
			padding:2px;
			background-color:#ddd;
		}
		#login{
			margin:2px;
			padding: 0px 0px;
			border:1px solid #ccc;
		}
		#login_error{
			color:#f00;
			font-size:0.8em;
		}
		#exec{
			background-color:#EE5F00;
			color:white;
			margin:0px 2px;
			padding:4px 5px;
			font-size:1em;
			border: 1px solid #ccc;
		}
		textarea
		{
				width:99.2%;
				height:200px; 
				margin:2px;
				padding:2px;
				background-color:#fff;
				color:#222;
				font-family: Arial;
				font-size: 1em;
				resize: vertical;
				border: 1px solid #ccc;
				border-radius:2px;
		}
		#db_list{
			margin:0px;
			padding:3px;
			font-size: 1em;
		}
		table {
		width: 100%;
		border-collapse: collapse;
		/*table-layout: fixed;*/
		}

		thead {
		background-color: teal;
		color: #fff;
		position: sticky;
		top: 0;
		z-index: 1;
		}

		th, td {
		padding: 5px; /* Adjusted padding for smaller row height */
		border: 1px solid #ccc;
		text-align: left;
		word-wrap: break-word;
		}

		tbody tr:nth-child(even) {
		background-color: #f2f2f2;
		}